---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Item Hunter Preview and Download.">
  <main>
    <h1>Welcome to <span class="text-gradient">Item Hunter</span></h1>
    <p class="instructions">
      You can use the Android simulator embedded below to preview the game.<br
      />
      For the best experience, please consider downloading and installing the App's
      APK from the link <strong>below</strong>.
    </p>
    <iframe
      src="https://appetize.io/embed/wmt2t4k2p3agh4tttqwpm3ncpy"
      width="315"
      height="630"></iframe>
    <Card
      href="https://github.com/R-zine/ItemHunter/raw/main/build/ItemHunter.apk"
      title="Download"
      body="Click here to download the APK from the GitHub repository."
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    text-align: center;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }

  iframe {
    border: none;
    margin-left: 12px;
  }
</style>
